<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liturgical Colour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: {{ dayinfo['colourcode'] }};
            background-image: linear-gradient(225deg, {{ dayinfo['colourcode'] }} 0%, #000000 100%);
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 100%;
            min-height: 100vh;
            padding-top: 25px;
        }
    </style>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✝️</text></svg>">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ longdate }}</h1>
            {% if dayinfo['name'] %}<p class="lead">Today is the {{ dayinfo['type'] }} of {%if dayinfo['url'] %}
                <a href="{{ dayinfo['url'] }}" target="_blank" rel="noopener noreferrer">{{ dayinfo['name'] }}</a>{% else %}{{ dayinfo['name'] }}{% endif %}</p>{% endif %}
            <hr class="my-4">
            <p>The week is {{ dayinfo['season'] }} {{ dayinfo['weekno'] }}</p>
            <p>The liturgical colour is {{ dayinfo['colour'] }}</p>
        </div>
    </div>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Powered by <a class="text-reset fw-bold" href="https://github.com/djjudas21/liturgical-colour-app">Liturgical Colour</a>
  </div>
</footer>
</body>
</html>
