<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liturgical Colour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: {{ dayinfo['colourcode'] }};
            background-image: linear-gradient(225deg, {{ dayinfo['colourcode'] }} 0%, #000000 100%);
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 100%;
            min-height: 100vh;
            padding-top: 25px;
        }
    </style>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/sw.js").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-9"><h2 class="display-4">{{ longdate }}</h2></div>
                <div class="col-md-3 text-right">
                    <form method="post">
                        <input type="date" name="date" value="{{ shortdate }}"/>
                        <button>Submit</button>
                    </form>
                </div>
            </div>
            <hr class="my-4">
            {% if dayinfo['name'] -%}
                <p class="lead">Today is the <a href="{{ dayinfo['type_url'] }}" target="_blank" rel="noopener noreferrer">{{ dayinfo['type'] }}</a> of {%if dayinfo['url'] %}
                <a href="{{ dayinfo['url'] }}" target="_blank" rel="noopener noreferrer">{{ dayinfo['name'] }}</a>{% else %}{{ dayinfo['name'] }}{% endif %}</p>
            {% endif -%}
            <p>The week is <a href="{{ dayinfo['season_url'] }}" target="_blank" rel="noopener noreferrer">{{ dayinfo['week'] }}</a></p>
            <p>The liturgical colour is {{ dayinfo['colour'] }}</p>
        </div>
    </div>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.20);">
    Powered by <a class="text-reset fw-bold" href="https://github.com/djjudas21/liturgical-colour-app">Liturgical Colour</a> | 
    <a target="_blank" href="https://icons8.com/icon/A51q2n9iZRkQ/latin-cross">Icon</a> by <a target="_blank" href="https://icons8.com">Icons8</a>
  </div>
</footer>
</body>
</html>
