<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liturgical Colour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: {{ dayinfo['colourcode'] }};
            background-image: linear-gradient(225deg, {{ dayinfo['colourcode'] }} 0%, #000000 100%);
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 100%;
            min-height: 100vh;
            padding-top: 25px;
        }
    </style>
    <link rel="icon" href="https://img.icons8.com/emoji/48/latin-cross-emoji.png">
    <link rel="apple-touch-icon" href="https://img.icons8.com/emoji/96/latin-cross-emoji.png">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-9"><h2 class="display-4">{{ longdate }}</h2></div>
                <div class="col-md-3 text-right">
                    <form method="post">
                        <input type="date" name="date" value="{{ shortdate }}"/>
                        <button>Submit</button>
                    </form>
                </div>
            </div>
            <hr class="my-4">
            {% if dayinfo['name'] -%}
                <p class="lead">Today is the <a href="{{ dayinfo['type_url'] }}" target="_blank" rel="noopener noreferrer">{{ dayinfo['type'] }}</a> of {%if dayinfo['url'] %}
                <a href="{{ dayinfo['url'] }}" target="_blank" rel="noopener noreferrer">{{ dayinfo['name'] }}</a>{% else %}{{ dayinfo['name'] }}{% endif %}</p>
            {% endif -%}
            <p>The week is <a href="{{ dayinfo['season_url'] }}" target="_blank" rel="noopener noreferrer">{{ dayinfo['week'] }}</a></p>
            <p>The liturgical colour is {{ dayinfo['colour'] }}</p>
        </div>
    </div>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.20);">
    Powered by <a class="text-reset fw-bold" href="https://github.com/djjudas21/liturgical-colour-app">Liturgical Colour</a> | 
    <a target="_blank" href="https://icons8.com/icon/A51q2n9iZRkQ/latin-cross">Icon</a> by <a target="_blank" href="https://icons8.com">Icons8</a>
  </div>
</footer>
</body>
</html>
